<script type="module" crossorigin src="assets/main.114519b2.js"></script>
<link rel="modulepreload" href="assets/vendor.6d5be126.js">
<link rel="stylesheet" href="assets/main.e424f0ba.css">
<div id="app"></div>
